<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="row main">
                <div class="col-xl-12">
                    <div class="card bg-dark text-light mb-4 shadow font backgroud" [hidden]="submitted">
                        <div class="card-header header text-center">
                            <h2>Finalize seu cadastro</h2>
                        </div>
                        <div class="card-body body text-center">
                            <form #freelancerForm="ngForm" (ngSubmit)="onSubmit()">
                                <label for="nome">Nome:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="nome"
                                    id="nome"
                                    [(ngModel)]="model['nome']"
                                    #nome="ngModel"                               
                                    required><br>
                                <label for="sobrenome">Sobrenome:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="sobrenome"
                                    id="sobrenome"
                                    [(ngModel)]="model['sobrenome']"
                                    #sobrenome="ngModel"
                                    required><br>     
                                <label for="telefone">Telefone:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="telefone"
                                    [(ngModel)]="model['telefone']"
                                    #telefone="ngModel"
                                    id="telefone"
                                    mask="(00) 0000-0000 || (00) 0 0000-0000"
                                    required><br>      
                                <label for="nascimento">Data de nascimento:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="nascimento"
                                    [(ngModel)]="model['nascimento']"
                                    #nascimento="ngModel"
                                    id="nascimento"
                                    type="date"
                                    required><br>
                                <label for="bio">Bio:</label>
                                <textarea class="col-md-6 offset-md-3 form-control inputs" name="bio"
                                    [(ngModel)]="model['bio']"
                                    #bio="ngModel"
                                    rows="10" cols="40" maxlength="500"
                                    type=""
                                    placeholder="Escreva aqui um pouco sobre você, experiências, no que é bom... Pode te ajudar na hora de ser escolhido!"
                                    id="bio"
                                    required>
                                </textarea><br>
                                <label for="rg">RG:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="rg"
                                    [(ngModel)]="model['rg']"
                                    #rg="ngModel"
                                    id="rg"
                                    mask="0.000.000"
                                    required><br>
                                <br>
                                <hr>
                                <h2>  Endereço </h2>
                                <br>
                                <label for="estado">Estado:</label>
                                <select class="col-md-6 offset-md-3 form-control inputs" name="estado"
                                    [(ngModel)]="enderecoModel['estado']"
                                    #estado="ngModel"
                                    id="estado"
                                    value="SC"
                                    placeholder="SC"
                                    required>
                                    <option *ngFor="let op of estadoOptions" [value]="op">{{op}}</option>
                                </select><br>
                                <label for="cidade">Cidade:</label>
                                <select class="col-md-6 offset-md-3 form-control inputs" name="cidade"
                                    [(ngModel)]="enderecoModel['cidade']"
                                    #cidade="ngModel"
                                    id="cidade"
                                    value="Chapecó"
                                    placeholder="Chapecó"
                                    required>
                                    <option *ngFor="let op of cidadeOptions" [value]="op">{{op}}</option>
                                </select><br>
                                <label for="bairro">Bairro:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="bairro"
                                    [(ngModel)]="enderecoModel['bairro']"
                                    #bairro="ngModel"
                                    id="bairro"
                                    required><br> 
                                <label for="rua">Rua:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="rua"
                                    [(ngModel)]="enderecoModel['rua']"
                                    #rua="ngModel"
                                    id="rua"
                                    required><br>
                                <label for="numero">Número:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="numero"
                                    [(ngModel)]="enderecoModel['numero']"
                                    #numero="ngModel"
                                    id="numero"
                                    required><br>       
                                <label for="complemento">Complemento:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="complemento"
                                    [(ngModel)]="enderecoModel['complemento']"
                                    #complemento="ngModel"
                                    id="complemento"><br>
                                <button class="btn-submit shadow col-md-6 offset-md-3 form-control btn-dark"
                                    (click)="submit()"
                                    [disabled]="!freelancerForm.form.valid" >
                                    Pronto
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>