<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="row main">
                <div class="col-xl-12">
                    <div class="card bg-dark text-light mb-4 font shadow backgroud">
                        <div class="card-header header text-center">
                            <button (click)="goBack()" class="back shadow btn-dark"><i class=" fas fa-arrow-circle-left"></i></button>
                            Reportes
                        </div>
                        <div class="card-body body text-center">
                            <div>
                                <strong>Motivos: </strong>
                                <br>
                                1 
                                <br>
                                2
                                <br><br>
                                <strong>Descrição</strong>
                                <hr>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>