<div class="main">
    <h1 class="text-center">TERMOS E CONDIÇÕES GERAIS DE USO DE APLICATIVO</h1>

    <p>
        Os serviços do TRAMPO JÁ são fornecidos pelas pessoas físicas dos seus proprietários,
        quais sejam: Leonardo Cordeiro Brandão, RG: 38.951.188-2, Luiz Roberto Dendena, RG: 6.179.267
        e Welliton Vinicius Dos Santos, RG: 6.096.529, todos titulares da propriedade intelectual sobre software, website, aplicativos
        e demais ativos relacionados a plataforma.
    </p><hr>

    <h3>1 . DO OBJETO</h3>

    <p>
        A plataforma tem como objeto prestar um serviço que possa atender os bares, hotéis, baladas, pubs, restaurantes e 
        estabelecimentos em geral que necessitem da contratação de funcionários de maneira informal, para realização de trabalhos 
        eventuais (freelance), aonde não ocorrerá a contratação definitiva do obreiro.
        O aplicativo poderá ser utilizado pelos estabelecimentos assinantes para divulgar a sua necessidade de contratação de serviços 
        freelance, ficando exposto na plataforma as condições de contratação e ficará ali demonstrado o interesse da empresa em 
        contratar essa espécie de serviço.
        Quanto ao usuário que busca uma oportunidade de trabalho informal, este terá acesso no aplicativo a todos os anúncios de 
        trabalhos cadastrados no site, podendo assim entrar em contato com os assinantes e negociar as condições da contratação.
    </p><hr>

    <h3>2 . DA ACEITAÇÃO</h3>

    <p>
        O presente termos estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado, entre a 
        plataforma e as pessoas jurídicas ou físicas usuárias do aplicativo. <br><br>

        Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a observá-las, sob o risco de 
        aplicação das penalidades cabíveis. <br><br>

        A aceitação do presente instrumento é imprescindível para o acesso e para utilização de quaisquer serviços fornecidos pela
        plataforma. <br><br>

        Caso não concorde com as disposições deste instrumento, o usuário não deve utilizá-la.
    </p><hr>

    <h3>3 . DO ACESSO DOS USUÁRIOS</h3>

    <p>
        Serão utilizadas todas as soluções técnicas a disposição do responsável pela plataforma para permitir o acesso ao serviço 24 horas por dia, 
        7 dias na semana. No entanto, a navegação na plataforma ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações, 
        modificações ou qualquer ação necessária ao seu bom funcionamento.
    </p><hr>

    <h3>4 . DO CADASTRO</h3>

    <p>
        O acesso aos anúncios e também a divulgação pelas empresas das oportunidades de trabalho exigirá a realização de um cadastro prévio, a simples 
        realização do cadastro não gerará custos para ambas as partes, a cobrança pelo serviço ocorrerá apenas quando acontecer a contratação do freelance.<br><br>

        Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, sendo de sua exclusiva responsabilidade manter referidos dados 
        atualizados, bem como o usuário se compromete com a veracidade dos dados fornecidos.<br><br>

        O usuário se compromete a não informar seus dados cadastrais e de acesso para terceiros, responsabilizando-se integralmente pelo uso que deles seja 
        feito.<br><br>

        O uso do aplicativo somente será permitido para maiores de 18 anos, tanto que após aceitar os termos de uso o usuário declara e garante ser plenamente 
        capaz.<br><br>

        Para a realização do cadastro as empresas usuárias do serviço que pretendem anunciar o seus serviços deverão informar os seguintes dados: nome, CNPJ, 
        razão social, tipo (bar, restaurante, balada), telefone, logo (opcional), endereço.<br><br>

        Quanto aos usuários que se cadastrarem no aplicativo buscando uma oportunidade de trabalho, deverão informar os seguintes dados: nome, sobrenome, 
        telefone, data de nascimento, foto (opcional), número do RG, foto dos documentos, endereço.<br><br>

        Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao usuário o acesso individual a mesma. Desta forma, 
        compete ao usuário exclusivamente a manutenção da referida senha de maneira confidencial e segura, evitando o acesso indevido as informações pessoais.<br><br>

        Importante ressaltar que os dados fornecidos pelos usuários serão utilizados para confirmar a existência da empresa anunciante e do usuário freelance, 
        com único objetivo de legitimar a negociação.<br><br>

        Não será permitido ceder, vender, alugar ou transferir a conta.<br><br>

        O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente a plataforma a coletar, usar, armazenar, tratar, ceder ou utilizar as 
        informações derivadas do uso dos serviços, do site e quaisquer plataformas, incluindo todas as informações preenchidas pelo usuário no momento em que 
        realizar ou atualizar seu cadastro.
    </p><hr>

    <h3>5. DO SERVIÇO E PREÇO</h3>

    <p>
        O aplicativo tem o objetivo de intermediar o contato do freelance com a empresa, em um caráter mais de marketplace, de modo que a forma de contratação, 
        pagamento e responsabilização por qualquer dano causado ao freelance será de responsabilidade do estabelecimento que estiver contratando os seus 
        serviços, o objetivo do TRAMPO JÁ é único e exclusivo de anunciar e expor ofertas de trabalhos informais.<br><br>

        A decisão de escolher o freelance fica a critério do estabelecimento. O fluxo funciona da seguinte forma: a empresa divulga a vaga, o freelance 
        demonstra interesse e de acordo com as opções o representante da empresa escolhe quem irá trabalhar.<br><br>

        Quanto ao preço pelo serviço, este será feito através de planos pré-pagos e haverá custo apenas para o contratante, que deverá realizar o 
        pagamento de R$5,00 para cada serviço contratado, e o avulso com o valor de 15%. Já o pagamento da empresa para o freelance será de responsabilidade 
        da empresa conforme acordado entre as partes.
    </p><hr>

    <h3>6 . DO SUPORTE</h3>

    <p>
        Em caso de qualquer dúvida, sugestão ou problema com a utilização da plataforma, o usuário poderá entrar em contato com o suporte, através dos 
        seguintes endereços eletrônicos: e-mail: contato@trampoja.com, instagram: @trampo_ja.<br><br>

        Estes serviços de atendimento ao usuário estarão disponíveis das 09h00m ás 20h00m de segunda a domingo.
    </p><hr>

    <h3>7. DAS RESPONSABILIDADES</h3>

    <p>É de responsabilidade do usuário:<p>

        <p>
            &nbsp; a) A correta utilização da plataforma, dos serviços oferecidos, prezando pela boa convivência, pelo respeito e cordialidade entre os usuários;<br>
            &nbsp; b) O cumprimento e respeito ao conjunto de regras disposto nesse Termos de Condições Geral de Uso, na respectiva Política de Privacidade e 
            na legislação nacional e internacional;<br>
            &nbsp; c) A proteção dos seus dados de acesso (login e senha);<br>
            &nbsp; d) Eventuais encargos trabalhistas e indenizações oriundas da relação entre os usuários da plataforma.<br>
        </p>

    <p>É de responsabilidade da plataforma:</p>
        <p>
            &nbsp; a) Os defeitos e vícios encontrados no serviço oferecido;<br>
            &nbsp; b) Indicar as características do serviço ou produto;<br>
            &nbsp; c) Anunciar as ofertas de trabalho eventual de acordo com as informações prestadas pelas empresas anunciantes;<br>
            &nbsp; d) O sigilo das informações prestadas pelos usuários.<br>
        </p><hr>

    <h3>8 . DOS DIREITOS AUTORAIS</h3>

    <p>
        O presente Termo de Uso concede aos usuários uma licença não exclusiva, não transferível e não sub licenciável, para acessar e fazer uso da plataforma e 
        dos serviços e produtos por ela disponibilizados.<br><br>

        A estrutura do aplicativo, as marcas, logotipos, nomes comerciais, layouts, gráficos, design de interface, imagens, ilustrações, fotográficas, 
        apresentações, vídeos, conteúdos escritos e de som e áudio, programas de computador, banco de dados, arquivos de transmissão  e quaisquer outras 
        informações e direitos de propriedade intelectual da razão social TRAMPO JÁ, observados os termos da Lei da Propriedade Industrial (Lei n 9.279/96), 
        Lei de Direitos Autorais (Lei n 9.610/98) e Lei do Software (Lei n 9.609/98), estão devidamente reservados.<br><br>

        Este Termos de Uso não cede ou transfere ao usuário qualquer direito, de modo que o acesso não gera qualquer direito de propriedade intelectual ao 
        usuário, exceto pela licença limitada ora concedida.<br><br>

        O uso da plataforma pelo usuário é pessoal, individual e intransferível, sendo vedado qualquer uso não autorizado, comercial ou não comercial. 
        Tais usos consistirão em violação dos direitos de propriedade intelectual do aplicativo, puníveis nos termos da legislação aplicável.
    </p><hr>

    <h3>9 . DAS SANÇÕES</h3> 

    <p>
        Sem prejuízo das demais medidas legais cabíveis a razão social TRAMPO JÁ, poderá, a qualquer momento, advertir, suspender ou cancelar a conta do usuário:
    </p>
    <p>
        &nbsp; a) Que violar qualquer dispositivo do presente termo;<br>
        &nbsp; b) Que descumprir os seus deveres de usuário;<br>
        &nbsp; c) Que tiver qualquer comportamento fraudulento, doloso ou que ofenda a terceiros.<br>
    <p><hr>

    <h3>10 . DAS ALTERAÇÕES</h3>

    <p>
        Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo, por parte do aplicativo, para adequar 
        ou modificar os serviços, bem como para atender novas exigências legais. As alterações serão veiculadas pelo site e aplicativo e o usuário poderá 
        optar por aceitar o novo conteúdo ou por cancelar o uso dos serviços.
    </p><hr>

    <h3>11 . DA POLÍTICA DE PRIVACIDADE</h3>

    <p>
        Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva Política de Privacidade a ser apresentada a todos os 
        interessados dentro da interface da plataforma.
    </p><hr>

    <h3>12 . DO FORO</h3>

    <p>
        Para dirimir qualquer controvérsia decorrentes do presente instrumento será eleita a comarca de Chapecó – SC.
    </p>
</div>