<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card bg-dark text-light shadow-lg border-0 rounded-lg mt-5 font main">
                    <div class="card-mobile card-header header text-center">
                        <img [src]="logo" alt="" class="logo" width="180px">
                        <h3 class="text-center my-4">Crie sua conta</h3>
                    </div>
                    <div class="card-mobile card-body body">
                        <form  #userForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="first_name"></label>
                                        <input class="form-control py-4 inputs"
                                            name="first_name"
                                            id="first_name"
                                            type="text" 
                                            placeholder="Nome"
                                            [(ngModel)]="model['first_name']"
                                            #first_name="ngModel"
                                            required>
                                            <div *ngIf="!firt_nameIsValid" 
                                                class="alert alert-danger">
                                                Seu nome precisa ter mais que uma letra
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="last_name"></label>
                                        <input class="form-control py-4 inputs" 
                                            id="last_name"
                                            name="last_name"
                                            type="text" 
                                            placeholder="Sobrenome"
                                            [(ngModel)]="model['last_name']"
                                            #last_name="ngModel"
                                            required>
                                            <div *ngIf="!last_nameIsValid" 
                                                class="alert alert-danger">
                                                Seu sobrenome precisa ter mais que uma letra
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="email"></label>
                                <input class="form-control py-4 inputs" 
                                    id="email"
                                    name="email"
                                    type="email" 
                                    aria-describedby="emailHelp" 
                                    placeholder="Email"
                                    [(ngModel)]="model['email']"
                                    #email="ngModel"
                                    required>
                                    <div *ngIf="!emailIsValid" 
                                        class="alert alert-danger">
                                        Insira um endereço de email válido
                                    </div><br>
                                <label class="small mb-1" for="telefone"></label>
                                <input class="form-control py-4 inputs" name="telefone"
                                    [(ngModel)]="model['telefone']"
                                    #telefone="ngModel"
                                    placeholder="Telefone"
                                    id="telefone"
                                    mask="(00) 0000-0000 || (00) 0 0000-0000"
                                    required>
                                <div [hidden]="telefone.valid || telefone.pristine"
                                    class="text-center alert alert-primary">
                                    Não esqueça do seu DDD 😁
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="password"></label>
                                        <input class="form-control py-4 inputs" 
                                            id="password"
                                            name="password"
                                            type="password" 
                                            placeholder="Senha"
                                            [(ngModel)]="model['password']"
                                            #password="ngModel"
                                            required>
                                            <div *ngIf="!passwordIsValid" 
                                                class="alert alert-danger">
                                                Sua senha precisa ter pelo menos 6 caracteres
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="confirm_password"></label>
                                        <input class="form-control py-4 inputs" 
                                            id="confirm_password"
                                            name="confirm_password"
                                            type="password" 
                                            placeholder="Confirme sua senha"
                                            [(ngModel)]="model['confirm_password']"
                                            #confirm_password="ngModel"
                                            required>
                                            <div *ngIf="!confirm_passwordIsValid" 
                                                class="alert alert-danger">
                                                Suas senhas não são iguais
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button class="btn-submit form-control btn-dark"
                                    (click)="submit()"
                                    [disabled]="!userForm.form.valid">
                                    Pronto
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-mobile card-footer footer text-center">
                        <div><a class="small color-link" routerLink="/login">Já tem uma conta? Faça login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>