.freelancer {
    border-radius: 300px;
    width: 230px;
    height: 250px;
    background-color: #58686A;
    object-fit: cover;
}

.reportes {
    margin-top: 60px;
    font-size: 13px;
    cursor: pointer;
}