<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="row main">
                <div class="col-xl-12">
                    <div class="card bg-dark text-light mb-4 font shadow backgroud">
                        <div class="card-header header text-center">
                            <button (click)="goBack()" class="back shadow btn-dark"><i class=" fas fa-arrow-circle-left"></i></button>
                            {{freelancer?.nome | titlecase}} {{freelancer?.sobrenome | titlecase}}
                        </div>
                        <div class="card-body body text-center">
                            <img class="freelancer" width="250px" [src]="imageURL" alt="">
                            <br><br>
                            <p>
                                Bio: {{freelancer?.bio | titlecase}}
                            </p>
                            <p>Idade: {{freelancer?.nascimento | age}}</p>
                            <p>Cidade: {{freelancer?.cidade | titlecase}}</p>
                            <p>Bairro: {{freelancer?.bairro | titlecase}}</p>
                            <p>Rua: {{freelancer?.rua | titlecase}} nº{{freelancer?.numero}}</p>

                            <div class="reportes">
                                <a class="text-light" [routerLink]="['/reportes', freelancer?.id]">
                                    <strong> Esse freela já foi reportado x vezes </strong>
                                    <div class="color-link small stretched-link"> > ver detalhes</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>