.freelancer {
    border-radius: 5px;
    width: 250px;
    height: 250px;
    background-color: #58686A;
}

input[type="file"] {
    display: none;
}

.foto {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}