<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="row main">
                <div class="col-xl-12">
                    <div class="card  bg-dark text-light mb-4 shadow font backgroud">
                        <div class="card-header header text-center">
                            <button (click)="goBack()" class="back shadow btn-dark"><i class=" fas fa-arrow-circle-left"></i></button>
                            <h3>Simples e Fácil!</h3>
                            <span *ngIf="ofertas_para_publicar > 1" class="span-planos">
                                Você pode publicar {{ofertas_para_publicar}} trampos<br>
                            </span>
                            <span *ngIf="ofertas_para_publicar == 1" class="span-planos">
                                Você pode publicar {{ofertas_para_publicar}} trampo<br>
                            </span>
                            <span *ngIf="ofertas_para_publicar == 0" class="span-planos">
                                Você não tem trampos para publicar<br>
                            </span>
                            <a *ngIf="ofertas_para_publicar < 3 || !freelancersIsValid"
                                class="link-planos btn-submit"[routerLink]="['/planos']">
                                Preciso de mais
                            </a>
                        </div>
                        <div class="card-body body text-center">
                            <form #ofertaForm="ngForm" (ngSubmit)="onSubmit()">
                                <label for="nome">Nome da vaga:</label>
                                <select class="col-md-6 offset-md-3 form-control inputs" name="nome"
                                    id="nome"
                                    [(ngModel)]="model['nome']"
                                    #nome="ngModel"                               
                                    required>
                                    <option *ngFor="let op of options" [value]="op">{{op}}</option>
                                </select>
                                <br>
                                <label for="freelancers">Quantas pessoas vai precisar?</label>
                                <input (change)="validators()" class="col-md-6 offset-md-3 form-control inputs" name="freelancers"
                                    [(ngModel)]="model['freelancers']"
                                    #freelancers="ngModel"
                                    id="freelancers"
                                    type="number"
                                    required>
                                <div *ngIf="!freelancersIsValid"
                                    class="col-md-6 offset-md-3 alert alert-danger">
                                    Você não tem trampos suficientes para isso.
                                </div>
                                <br>
                                <label for="valor">Quanto pretende pagar por hora?</label>
                                <input (change)="validators()" class="col-md-6 offset-md-3 form-control inputs" name="valor"
                                    type="number"
                                    id="valor"
                                    [(ngModel)]="model['valor']"
                                    #valor="ngModel"
                                    required>
                                <div [hidden]="valor.valid"
                                    class="col-md-6 offset-md-3 alert alert-warning">
                                    Valor mínimo R$10,00.
                                </div>
                                <div *ngIf="!valorIsValid && valor.valid"
                                    class="col-md-6 offset-md-3 alert alert-danger">
                                    Valor mínimo R$10,00.
                                </div>
                                <br>
                                <label for="hora">Que horas começa?</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="hora"
                                    [(ngModel)]="model['time']"
                                    #hora="ngModel"
                                    type="time"
                                    id="hora"
                                    required><br>
                                <label for="data">Até que horas pode ir?</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="data"
                                    [(ngModel)]="model['time_final']"
                                    #data="ngModel"
                                    id="horaf"
                                    type="time"
                                    required>
                                <br>
                                <label for="data">Data:</label>
                                <input class="col-md-6 offset-md-3 form-control inputs" name="data"
                                    [(ngModel)]="model['date_inicial']"
                                    #data="ngModel"
                                    id="data"
                                    type="date"
                                    required>
                                <div *ngIf="!dateIsValid"
                                    class="col-md-6 offset-md-3 alert alert-primary">
                                    Essa data já passou 😅 <br> Não esqueça de conferir a hora de ínicio 👊
                                </div>
                                <br>
                                <label for="obs">Observações:</label>
                                <textarea class="col-md-6 offset-md-3 form-control inputs" name="obs"
                                    [(ngModel)]="model['obs']"
                                    placeholder="Quanto mais informações adicionais você preecher aqui maiores as chances de encontrar a pessoa certa!"
                                    #obs="ngModel"
                                    rows="10" cols="40" maxlength="500"
                                    type=""
                                    id="obs"
                                    required>
                                </textarea>
                                <button class="btn-submit shadow col-md-6 offset-md-3 form-control btn-dark"
                                    (click)="submit()"
                                    [disabled]="!ofertaForm.form.valid" >
                                    Pronto &nbsp; <i class="fas fa-check"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>