<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card bg-dark text-light shadow-lg border-0 rounded-lg mt-5 font main">
                    <div class="card-header header text-center">
                        <button (click)="goBack()" class="back shadow btn-dark"><i class=" fas fa-arrow-circle-left"></i></button>
                        <h2>Escolha o seu plano</h2>
                    </div>
                    <div class="card-body body">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12 planos planos-mobile text-center">
                                <h2>Básico</h2>
                                <hr>
                                <strong class="preco">35<span class="small">R$</span></strong><br>
                                <span class="small especial-font">5 reais a unidade</span>
                                <hr>
                                <span class="especial-font">
                                    <strong>7 chamadas</strong><br>
                                </span>
                                <button class="btn-planos btn-dark btn-submit">
                                    <a target="_blank" class="link-planos" href="https://api.whatsapp.com/send?phone=554999998270&text=Plano%20Basico">
                                        Contratar
                                    </a>
                                </button>
                            </div>
                            <div class="col-lg-3 col-sm-12 planos planos-mobile text-center">
                                <h2>Premium</h2>
                                <hr>
                                <strong class="preco">75<span class="small">R$</span></strong><br>
                                <span class="small especial-font">5 reais a unidade</span>
                                <hr>
                                <span class="especial-font">
                                    <strong>15 chamadas</strong><br>
                                </span>
                                <button class="btn-planos btn-dark btn-submit">
                                    <a target="_blank" class="link-planos" href="https://api.whatsapp.com/send?phone=554999998270&text=Plano%20Premium">
                                        Contratar
                                    </a>
                                </button>
                            </div>
                            <div class="col-lg-3 col-sm-12 planos planos-mobile text-center">
                                <h2>Pró</h2>
                                <hr>
                                <strong class="preco">99<span class="small">R$</span></strong><br>
                                <span class="small especial-font">5 reais a unidade</span>
                                <hr>
                                <span class="especial-font">
                                    <strong>20 chamadas</strong><br>
                                </span>
                                <button class="btn-planos btn-dark btn-submit">
                                    <a target="_blank" class="link-planos" href="https://api.whatsapp.com/send?phone=554999998270&text=Plano%20Pro">
                                        Contratar
                                    </a>
                                </button>
                            </div>
                            <div class="col-lg-3 col-sm-12 planos planos-mobile text-center">
                                <h2>Especial</h2>
                                <hr>
                                <strong class="preco">15<span class="small">%</span></strong><br>
                                <span class="small especial-font">+ do valor pago ao freela</span>
                                <hr>
                                <span class="especial-font">
                                    <strong>Chamada avulsa</strong><br>
                                </span>
                                <button class="btn-planos btn-dark btn-submit">
                                    <a target="_blank" class="link-planos" href="https://api.whatsapp.com/send?phone=554999998270&text=Especial">
                                        Contratar
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>