.planos {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 990px){
    .planos-mobile {
      margin-bottom: 50px;
    }
    .btn-planos {
        width: 85% !important;
    }
  }

.mobile-wpp {
    display: none;
}

.wpp {
    display: block;
}

  @media (max-width: 450px){
    .mobile-wpp {
        display: block;
    }
    .wpp {
        display: none;
    }
  }

.btn-planos {
    height: 60px;
    width: 100%;
    border-radius: 5px;
}

.link-planos:hover {
    color: white;
    text-decoration: none;
}

.preco {
    width: 152px;
    height: 94px;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 94px;
    color: #1138F7;
}

.especial-font {
    color: #58686A;
}