<div class="main">
    <h1 class="text-center">POLÍTICA DE PRIVACIDADE</h1>

    <p>
        A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e 
        visitantes do aplicativo TRAMPO JÁ, com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos os interessados 
        sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações 
        pessoais.<br><br>

        Esta Política de Privacidade aplica-se a todos os usuários e visitantes do aplicativo e integra os Termos e Condições Gerais de Uso.<br><br>

        O presente instrumento foi elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet
        (Lei 12.965/14) (e o Regulamento da EU n. 2016/6790). Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, 
        razão pela qual se convida o usuário a consultar periodicamente essa seção.
    </p><hr>

    <h3>1 – RECOLHIMENTO DE DADOS DOS USUÁRIOS</h3>

    <p>
        Os dados dos usuários do aplicativo serão coletados através do preenchimento de um formulário, momento em que os usuários deverão informar os 
        seguintes dados:<br><br>
        - Freelancer: nome, sobrenome, telefone, data de nascimento, foto (opcional), número do RG, foto dos documentos, endereço.<br>
        - Empresas: nome, CNPJ, razão social, telefone, logo (opcional), endereço.
    </p><hr>

    <h3>2 – PARA QUE FINALIDADE UTILIZAMOS OS DADOS FORNECIDOS</h3> 

    <p>
        Os dados pessoais do usuário e do visitante coletados e armazenados pela plataforma tem por finalidade apresentar anúncios personalizados para o usuário 
        que busca uma oportunidade de trabalho informal.<br>

        Além disso os dados informados tem que como objetivo garantir a segurança dos usuários, certificando assim que o anúncio apresentado é verídico e que a 
        empresa que está realizando o anúncio realmente existe.<br>

        O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade somente ocorrerá mediante comunicação prévia ao usuário, 
        de modo que os direitos e obrigações aqui previstos permanecem aplicáveis.
    </p><hr>

    <h3>3 – TEMPO DE ARMAZENAMENTO DOS DADOS</h3>

    <p>
        Os dados pessoais do usuário e visitante são armazenados pela plataforma durante o período necessário para a prestação do serviço ou o cumprimento 
        das finalidades previstas no presente documento.
    <p><hr>

    <h3>4 – SEGURANÇA DOS DADOS</h3>

    <p>
        Os dados ficarão em um servidor remoto restrito protegido por firewall, somente a aplicação terá permissão de acesso a eles, não estarão 
        disponíveis ou compartilhados para outros fins na internet. Ficarão acessíveis somente pelo nosso domínio. Os backups são feitos periodicamente 
        em nuvem assegurando a consistência das informações.
    </p><hr>

    <h3>5 – COMPARTILHAMENTO DE DADOS</h3>

    <p>
        O compartilhamento de dados do usuário ocorre apenas com os dados referentes a publicações realizadas pelo próprio usuário, tais ações 
        são compartilhadas publicamente com os outros usuários.<br><br>

        Sendo os dados compartilhados somente nome da empresa, endereço e telefone das vagas que estarão em aberto.
    </p><hr>

    <h3>6 – COOKIES DE NAVEGAÇÃO</h3>

    <p>
        Não serão utilizados cookies de navegação/
    </p><hr>

    <h3>7 – CONSENTIMENTO</h3>

    <p>
        Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a presente Política de Privacidade.<br><br>

        O usuário, ao cadastrar-se, manifesta conhecer e pode exercitar seus direitos de cancelar seu cadastro, acessar e atualizar seus dados pessoais e 
        garante a veracidade das informações por ele disponibilizadas.<br><br>

        O usuário tem o direito de retirar seu consentimento a qualquer tempo.
    </p><hr>

    <h3>8 – MODIFICAÇÃO NA POLÍTICA DE PRIVACIDADE</h3>

    <p>
        Reservamos o direito de modificar essa Política de Privacidade a qualquer momento, após prévio aviso aos usuários, de modo que ao utilizar o serviço ou 
        fornecer informações pessoais após eventuais modificações, o usuário e visitante demonstra concordância com as novas normas.
    </p>

</div>