.detail{
    position: absolute;
    right: 10px;
}

.historico {
    position: absolute;
    right: 10px;
}

.create-confirmado {
    margin-top: -18px;
}

.fa-star {
    color: #ffc107 !important;
}

.nota {
    margin-left: 5px;
}