.detail{
    position: absolute;
    right: 10px;
}

.historico {
    position: absolute;
    right: 10px;
}

.btn-confirmar {
    border-radius: 3px;
    width: 100%;
    color: white;
    padding: 0px;
}

.confirmar{ 
    position: absolute;
    right: 35%;
    left: 35%;
}

.footer-confirmar {
    padding: 15px;
    color: #fff;
    background-color: #1138F7;
    border-color: #1138F7;
  }

.fa-star {
    color: #ffc107 !important;
}

.nota {
    margin-left: 5px;
}

.font-info-freela {
    font-size: 14px;
}