<main>
    <div class="container-fluid font">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-6 col-xm-0">
                <div class="backgroud shadow card bg-dark text-light mb-4">
                    <div class="card-body body">
                        <div class="col-12">
                            <div class="row justify-content-center text-center font-mobile">
                                <span class="col-xl-12 col-md-12 col-xm-12">
                                    <h2>Você gostaria de continuar como?</h2><br>
                                </span>
                                <span class="col-xl-6 col-md-6 col-xm-6 col-sm-6 col-xs-6 col-6">
                                    <a (mouseover)="setFreelancerNoGroup()" routerLink="/trampos">
                                        <img class="image" [src]="imageFreelancer" alt="">
                                        <br>Freelancer
                                    </a>
                                </span>
                                <span class="col-xl-6 col-md-6 col-xm-6 col-sm-6 col-xs-6 col-6">             
                                    <a (mouseover)="setEstabelecimentoNoGroup()" routerLink="/meus-trampos">
                                        <img class="image" [src]="imageEmpresa" alt="">
                                        <br>Empresa
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer footer d-flex align-items-center justify-content-between">
                        
                    <div class="small text-dark"></div>
                </div>
            </div>
        </div>
    </div>         
</div>
</main>
