.reportar {
    -webkit-transform: translateY(10px);
    -webkit-transform-origin: 0% 0%;

    -o-transform:translateY(0px);
    -o-transform-origin:0% 0%;

    transform: translateY(0px);
    transform-origin: 0% 0%;
}

.form {
    width: 100%;
}

.btn-reportar {
    border-radius: 3px;
    width: 100%;
    color: white;
}