<main class="reportar">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card bg-dark text-light shadow-lg border-0 rounded-lg mt-5 font main">
                    <div class="card-header header text-center">
                        <button (click)="goBack()" class="back shadow btn-dark"><i class=" fas fa-arrow-circle-left"></i></button>
                        <h4>Deixe sua justificativa</h4>
                    </div>
                    <div class="card-body body">
                        <form  #reporteForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="form">
                                    <div class="form-group">
                                        <div class="form-group mt-4 mb-0">
                                            <button
                                                [disabled]="!reporteForm.form.valid"
                                                (click)="create()"
                                                class="btn-warning btn-reportar btn-block shadow form-control">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>