.form {
    width: 100%;
}

.btn-reportar {
    border-radius: 3px;
    width: 100%;
    color: white;
}

.checkbox input[type="radio"], input[type="checkbox"] {
    position: absolute;
    right: 5px;
    width: 45px ;
    height: 25px;
}

.br {
    display: none !important;
}

@media (max-width: 768px){
    .br {
        display: inline !important;
    }
  }

.reporte {
    position: relative;
    top: -10px;
}

.body-reportes {
    font-size: 15px
}