<main class="avaliacao">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card bg-dark text-light shadow-lg border-0 rounded-lg mt-5 font main">
                    <div class="card-header header text-center">
                        <button (click)="close()" class="back shadow btn-dark"><i class="fas fa-window-close"></i></button>
                        <h4>Deixe sua avaliação</h4>
                    </div>
                    <div class="card-body body text-center">
                        <ul class="estrelas">
                            <li *ngFor="let nota of notas">
                                <a (mouseover)="color(nota, 'add')" (mouseout)="color(nota, 'remove')"
                                   (click)="confirm(nota)">
                                    <i [id]="nota" class="estrela far fa-star"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>