.form {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.estabelecimento {
    border-radius: 300px;
    width: 250px;
    height: 250px;
    background-color: #58686A;
    object-fit: cover;
}

.maps{
    width: 100%;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

.logo {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}